* {
    margin: 0;
}

header {
    background-color: bisque;
    height: 40px;
}
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a {
    text-decoration: none;
    color: blueviolet;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    margin: 5px;

}

 a:hover {
    color: aqua;

 }
 img {
    height: 20px;
    display: none;
 }

@media (max-width:450px){
    header {
        display: flex;
        justify-content: flex-end;
        align-items:center ;

    }

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    a {
      display: none;
    }
    img {
        height: 20px;
        display: inline;
        margin: 0px 5px;
    }
}