  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f08d8d;
  }
  body:hover {
    background-color: aquamarine;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
  }
  h1:hover {
    color: blue;
  }

  @media screen and (max-width: 900px) {
    h1 {
      font-size: 32px;
    }

    body {
      background-color: rgb(74, 179, 214);
    }
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 24px;
    }

    body {
      background-color: rgb(93, 223, 93);
    }
  } 

  /*
  body {
    margin: 0;
    padding: 0;
    background-color: #b81313;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
  }

  @media (max-width: 900px) and (min-width: 601px) {
    h1 {
      font-size: 32px;
    }
    body {
      background-color: #1c1cd6;
    }
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 24px;
    }
    body {
      background-color: #13c92c;
    }
  }
  */